services:
  app:
    container_name: feed_fusion
    image: "feed_fusion:latest"
    build:
      context: .
    env_file:
      - ".env.docker"
    ports:
      - "8888:8888"
    networks:
      - "ffusion_net"
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    command: "poetry run python ./src/gunicorn/run.py"
    volumes:
      - ./src/data:/app/data
      - ./logs:/app/logs
      - ./src/static:/app/src/static
    # cpus: 1.0
    # mem_limit: 768m

  celery_worker:
    image: "feed_fusion:latest"
    container_name: "ffusion_celery_worker"
    env_file:
      - ".env.docker"
    networks:
      - "ffusion_net"
    depends_on:
      app:
        condition: service_started
      rabbitmq:
        condition: service_healthy
      postgres:
        condition: service_healthy
    command: "poetry run celery --app=src.tasks.app:celery_app worker -B -l INFO --concurrency=2 --max-tasks-per-child=100"
    volumes:
      - ./artifacts:/app/artifacts
      - ./logs:/app/logs
    # cpus: 1.0
    # mem_limit: 768m

  rmq_consumer:
    profiles:
      - "telegram"
    container_name: ffusion_rmq_consumer
    image: "feed_fusion:latest"
    env_file:
      - ".env.docker"
    networks:
      - "ffusion_net"
    depends_on:
      app:
        condition: service_started
      rabbitmq:
        condition: service_healthy
      postgres:
        condition: service_healthy
    command: "poetry run python ./src/tasks/consumer.py"
    # cpus: 0.5
    # mem_limit: 384m


  elasticsearch:
    profiles:
      - "search"
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.0
    container_name: "ffusion_es"
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9200"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 60s
    networks:
      - "ffusion_net"
    # cpus: 1.5
    # mem_limit: 1536m

  # kibana:
  #   image: docker.elastic.co/kibana/kibana:9.2.0
  #   container_name: ffusion_kibana
  #   ports:
  #     - "5601:5601"
  #   networks:
  #     - "ffusion_net"
  #   environment:
  #     - ELASTICSEARCH_HOSTS=http://ffusion_es:9200
  #   depends_on:
  #     - elasticsearch

  postgres:
    container_name: "ffusion_db"
    image: "postgres:17"
    ports:
      - "6432:5432"
    volumes:
      - ffusion_pg_db_data:/var/lib/postgresql/data
    networks:
      - "ffusion_net"
    env_file:
      - ".env.postgres"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $$POSTGRES_DB -U $$POSTGRES_USER"]
      interval: 10s
      timeout: 5s
      retries: 5
    # cpus: 0.75
    # mem_limit: 768m

  redis:
    profiles:
      - "cache"
    image: redis:latest
    container_name: ffusion_redis
    ports:
      - "6379:6379"
    networks:
      - "ffusion_net"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    # cpus: 0.25
    # mem_limit: 256m

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: ffusion_rabbit
    networks:
      - "ffusion_net"
    ports:
      - "5672:5672"
      - "15672:15672"
    env_file:
      - ".env.rabbitmq"
    volumes:
      - ffusion_rmq_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 60s
    # cpus: 0.5
    # mem_limit: 512m

volumes:
  ffusion_rmq_data:
  ffusion_pg_db_data:
  elasticsearch_data:

networks:
  ffusion_net:
    driver: bridge
