services:
  app:
    container_name: feed_fusion_v1.0.0
    image: feed_fusion:1.0.0
    build:
      context: .
    env_file:
      - ".env.docker"
    ports:
      - 8888:8888
    networks:
      - "ffusion_net"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    command: "poetry run python ./src/gunicorn/run.py"
    volumes:
      - ./logs:/app/logs

  celery_worker:
    image: feed_fusion:1.0.0
    container_name: ffusion_celery_worker
    env_file:
      - ".env.docker"
    networks:
      - "ffusion_net"
    depends_on:
      app:
        condition: service_started
      rabbitmq:
        condition: service_healthy
      postgres:
        condition: service_healthy
    command: "poetry run celery --app=src.tasks.app:celery_app worker -l INFO"

  celery_beat:
    image: feed_fusion:1.0.0
    container_name: ffusion_celery_beat
    env_file:
      - ".env.docker"
    networks:
      - "ffusion_net"
    depends_on:
      app:
        condition: service_started
      rabbitmq:
        condition: service_healthy
      postgres:
        condition: service_healthy
    command: "poetry run celery --app=src.tasks.app:celery_app beat -l INFO"

  rmq_consumer:
    image: feed_fusion:1.0.0
    env_file:
      - ".env.docker"
    networks:
      - "ffusion_net"
    depends_on:
      app:
        condition: service_started
      rabbitmq:
        condition: service_healthy
      postgres:
        condition: service_healthy
    command: "poetry run python ./src/tasks/consumer.py"


  postgres:
    container_name: ffusion_db
    image: "postgres:17"
    ports:
      - 6432:5432
    volumes:
      - ffusion_pg_db_data:/var/lib/postgresql/data
    networks:
      - "ffusion_net"
    env_file:
      - ".env.postgres"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $$POSTGRES_DB -U $$POSTGRES_USER"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:latest
    container_name: ffusion_redis
    ports:
      - "6379:6379"
    networks:
      - "ffusion_net"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management-alpine
    hostname: rabbitmq
    container_name: ffusion_rabbit
    networks:
      - "ffusion_net"
    ports:
      - "5672:5672"
      - "15672:15672"
    env_file:
      - ".env.rabbitmq"
    volumes:
      - ffusion_rmq_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  ffusion_rmq_data:
  ffusion_pg_db_data:

networks:
  ffusion_net:
    driver: bridge
